<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2742},{506,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,503}}</string>
                <key>sourceSize</key>
                <string>{506,503}</string>
            </dict>
            <key>lose_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2057,2057},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2057},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2057,1372},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1372},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2057},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1372},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2057,687},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,687},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,687},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2057},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1372},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2057,2},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
            <key>lose_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{683,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>sourceSize</key>
                <string>{683,683}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lose.png</string>
            <key>size</key>
            <string>{2742,3247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b958abd4b1fed36bdffc0ede619c1ce:1/1$</string>
            <key>textureFileName</key>
            <string>lose.png</string>
        </dict>
    </dict>
</plist>
