<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ds_ban_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,617},{203,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{203,69}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_chang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,513},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_di_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,617},{203,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{203,69}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_dian0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_dian1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,440},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_dian2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_dian3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_dian4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,412},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_dian5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,367},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_dian6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_dian7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,294},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_dian8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_dian9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,221},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_digang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_fu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,207},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_he_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,148},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_hou_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_mei_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,75},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_ren_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{203,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{203,69}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_shi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,617},{203,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{203,69}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_tian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,617},{203,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{203,69}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_tiangang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_zha5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_zha7_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_zha8_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{203,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{203,69}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ds_zha9_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ds.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7041392cf19a542293728f2a4d153b$</string>
            <key>textureFileName</key>
            <string>ds.png</string>
        </dict>
    </dict>
</plist>
