<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_box_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,1489},{72,98}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,21},{72,98}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>ani_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1525},{130,112}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{130,112}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>ani_box_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1281},{80,102}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{80,102}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>ani_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1465},{130,112}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{130,112}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>ani_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1244},{130,112}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{130,112}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>ani_box_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1108},{130,114}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{130,114}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>ani_box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,972},{130,114}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{130,114}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>ani_box_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,1381},{138,124}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{138,124}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>ani_box_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,955},{144,134}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,134}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>ani_box_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,1381},{138,124}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{138,124}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>ani_box_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,1380},{138,134}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{138,134}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>ani_charge_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1420},{63,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{63,64}}</string>
                <key>sourceSize</key>
                <string>{93,70}</string>
            </dict>
            <key>ani_charge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1651},{63,62}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{63,62}}</string>
                <key>sourceSize</key>
                <string>{93,70}</string>
            </dict>
            <key>ani_charge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,1718},{59,60}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{59,60}}</string>
                <key>sourceSize</key>
                <string>{93,70}</string>
            </dict>
            <key>ani_charge_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,1102},{89,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{89,64}}</string>
                <key>sourceSize</key>
                <string>{93,70}</string>
            </dict>
            <key>ani_charge_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1267},{71,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{71,62}}</string>
                <key>sourceSize</key>
                <string>{93,70}</string>
            </dict>
            <key>ani_plazzcoin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1482},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ani_plazzcoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,1520},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{64,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ani_plazzcoin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,1654},{62,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ani_plazzcoin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,458},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{62,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ani_plazzcoin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1688},{62,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{62,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ani_plazzcoin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1593},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{64,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ani_plazzcoin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,1588},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ani_start_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,928},{332,168}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{332,168}}</string>
                <key>sourceSize</key>
                <string>{362,180}</string>
            </dict>
            <key>ani_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,951},{338,170}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{338,170}}</string>
                <key>sourceSize</key>
                <string>{362,180}</string>
            </dict>
            <key>ani_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,597},{344,172}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{344,172}}</string>
                <key>sourceSize</key>
                <string>{362,180}</string>
            </dict>
            <key>ani_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,237},{358,176}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{358,176}}</string>
                <key>sourceSize</key>
                <string>{362,180}</string>
            </dict>
            <key>ani_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,419},{344,172}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{344,172}}</string>
                <key>sourceSize</key>
                <string>{362,180}</string>
            </dict>
            <key>ani_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,775},{338,170}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{338,170}}</string>
                <key>sourceSize</key>
                <string>{362,180}</string>
            </dict>
            <key>ani_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1095},{332,168}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{332,168}}</string>
                <key>sourceSize</key>
                <string>{362,180}</string>
            </dict>
            <key>btn_bag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1511},{134,61}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,20},{134,61}}</string>
                <key>sourceSize</key>
                <string>{270,97}</string>
            </dict>
            <key>btn_bag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1277},{270,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,97}}</string>
                <key>sourceSize</key>
                <string>{270,97}</string>
            </dict>
            <key>btn_chong_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1667},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>btn_chong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,1635},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>btn_dui_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,1583},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>btn_dui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,526},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>btn_friend_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1400},{133,59}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,27},{133,59}}</string>
                <key>sourceSize</key>
                <string>{277,103}</string>
            </dict>
            <key>btn_friend_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1169},{277,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,103}}</string>
                <key>sourceSize</key>
                <string>{277,103}</string>
            </dict>
            <key>btn_plaza_set_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1573},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>btn_plaza_set_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,1481},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>btn_rank_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,861},{180,61}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,20},{180,61}}</string>
                <key>sourceSize</key>
                <string>{268,97}</string>
            </dict>
            <key>btn_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1380},{268,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,97}}</string>
                <key>sourceSize</key>
                <string>{268,97}</string>
            </dict>
            <key>btn_roomlist_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,1389},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>btn_shop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1127},{134,61}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,22},{134,61}}</string>
                <key>sourceSize</key>
                <string>{270,97}</string>
            </dict>
            <key>btn_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1278},{270,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,97}}</string>
                <key>sourceSize</key>
                <string>{270,97}</string>
            </dict>
            <key>btn_take_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,183},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>btn_take_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,129},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>btn_task_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,889},{147,60}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,27},{147,60}}</string>
                <key>sourceSize</key>
                <string>{277,104}</string>
            </dict>
            <key>btn_task_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1167},{277,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,104}}</string>
                <key>sourceSize</key>
                <string>{277,104}</string>
            </dict>
            <key>btn_voice_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,876},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_voice_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,578},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{90,94}</string>
            </dict>
            <key>chag_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,861},{413,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,61}}</string>
                <key>sourceSize</key>
                <string>{413,61}</string>
            </dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,4},{670,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,448}}</string>
                <key>sourceSize</key>
                <string>{670,448}</string>
            </dict>
            <key>chat_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,1604},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>chat_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,1520},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>chat_his.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,533},{597,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,254}}</string>
                <key>sourceSize</key>
                <string>{597,254}</string>
            </dict>
            <key>chat_item_framebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,793},{597,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,62}}</string>
                <key>sourceSize</key>
                <string>{597,62}</string>
            </dict>
            <key>chat_record_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,1141},{237,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{237,65}}</string>
                <key>sourceSize</key>
                <string>{237,67}</string>
            </dict>
            <key>chat_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,1070},{237,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{237,65}}</string>
                <key>sourceSize</key>
                <string>{237,67}</string>
            </dict>
            <key>chat_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1337},{157,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{157,57}}</string>
                <key>sourceSize</key>
                <string>{157,59}</string>
            </dict>
            <key>chat_send_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,1274},{157,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{157,57}}</string>
                <key>sourceSize</key>
                <string>{157,59}</string>
            </dict>
            <key>chat_texts_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,999},{237,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{237,65}}</string>
                <key>sourceSize</key>
                <string>{237,67}</string>
            </dict>
            <key>chat_texts_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,928},{237,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{237,65}}</string>
                <key>sourceSize</key>
                <string>{237,67}</string>
            </dict>
            <key>plaza_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,129},{1286,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1286,91}}</string>
                <key>sourceSize</key>
                <string>{1290,95}</string>
            </dict>
            <key>pub_btn_introduce_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,780},{90,90}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>pub_btn_introduce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,674},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>pub_btn_introduce_c_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1583},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>pub_btn_introduce_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,1197},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>pub_btn_introduce_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,1212},{202,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,56}}</string>
                <key>sourceSize</key>
                <string>{202,56}</string>
            </dict>
            <key>pub_sp_introduce_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,226},{960,657}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,657}}</string>
                <key>sourceSize</key>
                <string>{960,657}</string>
            </dict>
            <key>record_chat_begin_ani_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1344},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>record_chat_begin_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1415},{66,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,61}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>record_play_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,382},{13,15}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{13,15}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>record_play_ani_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,133},{19,25}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{19,25}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>record_play_ani_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,775},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>record_volum_aini_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,363},{15,13}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,55},{15,13}}</string>
                <key>sourceSize</key>
                <string>{25,69}</string>
            </dict>
            <key>record_volum_aini_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,818},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,67}}</string>
                <key>sourceSize</key>
                <string>{25,69}</string>
            </dict>
            <key>record_volum_aini_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,164},{17,19}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,49},{17,19}}</string>
                <key>sourceSize</key>
                <string>{25,69}</string>
            </dict>
            <key>record_volum_aini_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,332},{17,25}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,43},{17,25}}</string>
                <key>sourceSize</key>
                <string>{25,69}</string>
            </dict>
            <key>record_volum_aini_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,96},{19,31}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{19,31}}</string>
                <key>sourceSize</key>
                <string>{25,69}</string>
            </dict>
            <key>record_volum_aini_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,53},{19,37}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{19,37}}</string>
                <key>sourceSize</key>
                <string>{25,69}</string>
            </dict>
            <key>record_volum_aini_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,4},{19,43}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{19,43}}</string>
                <key>sourceSize</key>
                <string>{25,69}</string>
            </dict>
            <key>record_volum_aini_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,480},{21,49}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{21,49}}</string>
                <key>sourceSize</key>
                <string>{25,69}</string>
            </dict>
            <key>record_volum_aini_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,419},{21,55}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{21,55}}</string>
                <key>sourceSize</key>
                <string>{25,69}</string>
            </dict>
            <key>record_volum_aini_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,891},{23,61}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{23,61}}</string>
                <key>sourceSize</key>
                <string>{25,69}</string>
            </dict>
            <key>sp_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,1736},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>sp_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1338,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1338,119}}</string>
                <key>sourceSize</key>
                <string>{1338,119}</string>
            </dict>
            <key>sp_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1687},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>sp_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1736},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>sp_ingot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,1718},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,34}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>sp_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,533},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,25}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>sp_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1102},{291,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{291,61}}</string>
                <key>sourceSize</key>
                <string>{293,63}</string>
            </dict>
            <key>sp_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,187},{139,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{139,17}}</string>
                <key>sourceSize</key>
                <string>{141,19}</string>
            </dict>
            <key>sp_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,1212},{153,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,29}}</string>
                <key>sourceSize</key>
                <string>{153,29}</string>
            </dict>
            <key>sp_trumpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1783},{56,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,44}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>sp_trumpet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,889},{807,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{807,67}}</string>
                <key>sourceSize</key>
                <string>{807,67}</string>
            </dict>
            <key>sp_trumpet_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,962},{779,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{779,167}}</string>
                <key>sourceSize</key>
                <string>{779,167}</string>
            </dict>
            <key>sp_trumpet_edit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,458},{641,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,69}}</string>
                <key>sourceSize</key>
                <string>{641,69}</string>
            </dict>
            <key>sp_trumpet_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1127},{278,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,34}}</string>
                <key>sourceSize</key>
                <string>{278,34}</string>
            </dict>
            <key>sp_trumpet_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1274},{140,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,39}}</string>
                <key>sourceSize</key>
                <string>{140,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plaza.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29278d45949c7d108b8069a981c4a1f1$</string>
            <key>textureFileName</key>
            <string>plaza.png</string>
        </dict>
    </dict>
</plist>
